<%- include("headers.ejs") %>
<section class="section-menu">
    <img class="line2" src="/images/line2.svg" alt="">
    <!-- <button class="lang">Italiano</button> -->
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <ul class="menu-cont cont">
        <li class="menu-voice home">Home</li>
        <li>|</li>
        <li class="menu-voice apart">Apartments</li>
        <li>|</li>
        <li class="menu-voice contact">Contact Us</li>
        <li>|</li>
        <li class="menu-voice discover">Discover Durrës</li>
        <li><span class="material-symbols-outlined toggle-menu">
            menu
        </span></li>   
    </ul>
    
    
</section>
<div class="down-menu-cont">
    <%- include("menu.ejs") %>

</div>
<%- include("section3.ejs")  %>

<%- include("section2.ejs") %>

<%- include("footer.ejs") %>

